* {
	font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	background-color: #FFFFFF;
}

a:link, a:visited {
	transition: all.3s ease;
	-ms-transition: all.3s ease;
	-webkit-transition: all.3s ease;
	-o-transition: all.3s ease;
	text-decoration: none;
	color: #2D2D30;
}

a:hover, a:active {
	color: #EC0000;
}

#title{
	font-family: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 2em;
}

.codecontainer {
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 5px;
	font-size: 13px;
}

code{
	font-family: Consolas,Courier,monospace!important;
	background-color: #FFFFFF;
	width: 100%;
	font-size: 13px;
}

.hide {
    display: none; 
}

.hide + label ~ div{
    display: none;
}

.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block; 
}

.hide:checked + label {
    color: red;
    border-bottom: 0;
}

.hide:checked + label + div {
		font-family: Consolas,Courier,monospace!important;
    display: block; 
    background: #efefef;
    padding: 10px; 
}


.keyword {
	font-family: Consolas,Courier,monospace!important;
	background-color: #FFFFFF;
	color: #0000FF;
	font-size: 13px;
}

.comment{
	font-family: Consolas,Courier,monospace!important;
	background-color: #FFFFFF;
	font-style: italic;
	color: green;
	font-size: 13px;
}

.text {
	font-family: Consolas,Courier,monospace!important;
	background-color: #FFFFFF;
	color: #B21515;
	font-size: 13px;
}


/**
	General styling
**/

h1 {
	font-size: 40px;
	line-height: 60px;
	text-align: center;
}

#container::after {
	content: '';
	display: table;
	clear: both;
}

/**
	Header styles
**/

.header {
	display: block;
	padding: 15px;
	background-color: #293e4f;
	border-bottom: 10px solid #96c231;
}

.btn {
	display: block;
	margin: 0 0 15px 0;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 17px;
	color: #fff;
	font-weight: bold;
	background-color: #96c231;
	text-align: center;
}

.next {
	margin: 0;
}


/**
	Responsive Styles
**/

@media (min-width: 680px) {

	.btn {
		display: inline-block;
		margin: 0;
	}

	.next {
		float: right;
	}

	.examples ul li {
		display: inline-block;
		max-width: 30%;
		margin: 15px 10px;
		top: 0;
	}

	.hide-mobile {
		display: none;
	}

} 

#container {
	max-width: 90%;
	margin: 20px auto;
	font-size: 22px;
	line-height: 30px;
}

/* basic Menu Styles
===================================================*/
#menu {
    /*display: block;*/
   /* width: 300px;
    min-height: 100%;*/
    /*top: 0;
    z-index: 9999;*/
   /* position:fixed;*/
    background: #FFFFFF;/*#34495e;*/
    font-family: Segoe UI;
    color:#000;/* #fff;*/
    -webkit-transition: left 2s;
    transition: left 2s;
}

#menu span {
    font-size: 22px;
    margin: 20px 10px;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    font-size:19px;
    border-bottom: 1px solid #EFEFEF;/*#2c3e50;*/
}

#menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
 /*   color:#fff;*/
}

#menu ul ul li {
    background-color: #FFFFFF; /*#2c3e50;*/
}

#menu ul li a:hover,
#menu ul ul li a {
    padding: 10px 10px 10px 30px;
}

#menu ul ul li a:hover {
    padding: 10px 10px 10px 60px;
}

#menu ul li a,
#menu ul li a:hover,
#menu ul ul li a,
#menu ul ul li a:hover {
    -webkit-transition: padding 0.5s; /* Safari 3.1 to 6.0 */
    transition: padding 0.5s;
}

/* Hiding the checkboxes so only the labels are visible */
#toggle,
input[id^="dropdown"],
ul[class^="dropdown"] {
    display: none;
}

input[id^="dropdown"]:checked + ul[class^="dropdown"] {
    height: auto;
    display: block;
}