/* Импорт шрифта */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('Robotolight.woff2') format('woff2'), url('Robotolight.woff') format('woff'), url('Robotolight.ttf') format('truetype');
}

/* Для всего документа */
* {
	font-family: Roboto;
	font-weight: normal;
}

/* Видимый контент */
body {
	margin: 0px;
	background-image: url("j.png");
	background-position: left bottom;
	background-repeat: repeat;
}

/* Заголовок */
#titler{
	padding-top: 20%;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .15em;
	font-size: 42px;
}

/* Панель навигации */
#nav {
	z-index: 100;
	height: auto;
	width: 100%;
	position: fixed;
	background-color: rgba(215, 0, 96, 0.7);
	font-size: 15px;
	text-transform: uppercase;
}

/* Строка навигации */
#nav ul {
	display: table-row;
}

/* Ячейка навигации */
#nav ul li {
	display: table-cell;
	height: 50px;
	text-align: center;
}

/* Ссылка в ячейке */
#nav ul li a {
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-o-transition: all.6s ease;
	height: 50px;
	display: table-cell;
	width: 1000px;
	vertical-align: middle;
	text-decoration: none;
	color: #FFFFFF;
}

/* Наведение на ссылку */
#nav ul li a:hover {
	color: #000000;
}

.wrap{  
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto 30px auto;
}

.clicker {
  background-color: rgba(255, 255, 255, 1);
	outline: none;
	position:absolute;
  cursor: pointer;
  padding: 0;
	border: none;
	height: 64px;
	width: 64px;
  left: 8px;
  top: 8px;
	border-radius: 100px;
	z-index: 1;
}

.clicker:active {
  	height: 63px;
	  box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle {
  border-radius:40px;
	width: 80px;
	height: 80px;
	background-image: linear-gradient(rgba(215, 0, 96, 0.7) 30%, rgba(215, 0, 96, 0.2) 60%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

.clicker:hover + .circle, .clicker:active + .circle {
	  animation: rotator linear 1s infinite;
}

@keyframes rotator{
	  from { 
	  	transform: rotate(0deg); 
	  }
	  to { 
	  	transform: rotate(360deg); 
	  }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 101;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
		text-align:  center;
		width: 200px;
		margin-left: -moz-calc(((100% - 200px) / 2) - 15px);
		margin-right: -moz-calc((100% - 200px) / 2);
		margin-left: calc(((100% - 200px) / 2) - 15px);
		margin-right: calc((100% - 200px) / 2);
    background-color: #fff;
    border: 1px solid rgba(215, 0, 96, 0.7);
    display: inline-block;
    opacity: 0;
    padding: 20px;
    position: fixed;
    text-align: justify;
    visibility: hidden;
    z-index: 102;
}

.overlay:target+.popup {
    opacity: 1;
    visibility: visible;
}

#fotf{
	height: 50px;
	background-image: url("s.png");
	background-position: left bottom;
	background-repeat: repeat-x;
}

#second{
	background-color: rgba(215, 0, 96, 0.7);
}
