body {
  margin:0px;
  background-color: #ECECEC;
  font: 100% Cabin; 
}

header { 
  background-color: #2D2D30;
  width: 102%;
  display: block;
  padding-right: 0px;
  cursor: url(fox.png), default;
}

@font-face {
    font-family: Cabin; /* Гарнитура шрифта */
    src: url(comfortaa.ttf); /* Путь к файлу со шрифтом */
   }

nav {
  width: 100%;
  display: block;
  text-align: center;
  background: #ECECEC;
  padding: 10px;
  margin-top: 10px;
}

.rigth{
  float:right;
  margin-left: auto;
}

article{
  float: left;
  width: 40%;
  margin: 5%;
}

article header {
  background-color: #ECECEC;
  font: 150% Cabin; 
}

article body {
   margin-left: 1px;
}

#headimg {
  width: 100%;
}

a:link {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

a:visited {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

a:hover {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

a:active {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

/*Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {
  nav {
    width: 100%;
    text-align: center;
    background: #ECECEC;
    padding: 5px;
    margin-top: 10px;
  }
  
  a:link {
    text-decoration: none;
    font: 150% Cabin; 
    color: #2D2D30;
  }

  a:visited {
    text-decoration: none;
    font: 150% Cabin; 
    color: #2D2D30;
  } 

  a:hover {
    text-decoration: none;
    font: 150% Cabin; 
    color: #2D2D30;
  }

  a:active {
    text-decoration: none;
    font: 150% Cabin; 
    color: #2D2D30;
  }
}
