body {
	font: 12pt Arial, Helvetica, sans-serif;
 	margin: 0; 
	background-color: #ECECEC;
}

#delimiter{
	background: #ECECEC;	
}

#header { 
  	background: #632D56;
  	padding: 10px;
	color: #FFFFFF;
  	font-family: 'Oswald', sans-serif;;
  	font-size: 150%;
	cursor: url(fox.png), pointer;
}

@media screen and (max-width: 800px) {
    	nav {
		display: none;
    	}
}

#sidebar {
	float: left;
  	width: 20%;
  	background: #632D56;
	color: #ECECEC;
  	padding: 5px;
  	margin: 10px 10px 20px 5px;
}

#post{
	margin: 10px 10px 20px 22%;
	width: 77%;	
	border: 1px solid #632D56;
}

#headpost{
	background: #632D56;
	color: #ECECEC;
  	font-family: sans-serif;
	padding: 2px;
  	font-size: 20px;
}

#contentpost{
	padding: 2px;
	background: #FFFFFF;
	color: #632D56;
  	font-family: sans-serif;
}

#footer { 
    	background: #632D56;
   	padding: 5px;
    	color: #ECECEC;
    	clear: left;
}


/* ссылки */
a:link {
	color: #ECECEC; 
 	text-decoration: none;
}

a:visited {
  	color: #FFFFFF;
 	text-decoration: none;
}

a:hover {
  	color: #FFFFFF; 
 	text-decoration: none;
}

a:active {
  	color: #ECECEC; 
 	text-decoration: none;
}
