@font-face {
  font-family: Cabin;
  src: url(comfortaa.ttf);
}

body {
  margin: 0px;
  font: 100% Cabin;
  background-color: #ECECEC;
}

nav {
  width: 100%;
  margin-top: 20px;
  display: block;
  text-align: center;
}

article {
  float: left;
  width: 40%;
  margin: 5%;
}

article header {
  background-color: #ECECEC;
  font: 150% Cabin; 
  cursor: default;
}

article body {
  margin-left: 1px;
}

.rigth {
  float:right;
  margin-left: auto;
}

a:link {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

a:visited {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

a:hover {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

a:active {
  text-decoration: none;
  font: 150% Cabin; 
  color: #2D2D30;
}

#headimg {
  width: 100%;
}
