#headimg {
  width: 100%;
}

* {
	padding: 0;
	margin: 0;
	font: 100% Arial;
	font-size: 20px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

body {
	min-width: 300px;
  	background-color: #ECECEC;
  	cursor: default;
}

#header {
	min-width: 300px;
	width: 100%;
	background-color: #2D2D30;
}

#nav {
	min-width: 300px;
	width: 100%;
	background-color: #2D2D30;
}

#nav ul {
	display: table-row;
}

#nav ul li {
	display: table-cell;
	width: auto;
	height: 50px;
	text-align: center;
	vertical-align: bottom;
}

#logo {
	padding-left: 5%;
	padding-right: 5%;
	display: table-cell;
	width: 10%;
	height: 50px;
	text-align: center;
	vertical-align: bottom;
}

#nav ul li a {
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-o-transition: all.6s ease;
	color: #ECECEC;
	height: 50px;
	display: table-cell;
	width: 1000px;
	vertical-align: middle;
	text-decoration: none;
}

#nav ul li a:hover {
	color: #EC0000;
}

#footer {
	min-width: 300px;
	width: 100%;
	background-color: #2D2D30;
}

#zag {
	margin-top: 5%;
	background-color: #ECECEC;
	color: #2D2D30;
	text-align: center;
	font-size: 30px;
}

#lpost{
	width: 40%;
	margin-left: 5%;
	float: left;
}

#rpost{
	width: 40%;
	margin-left: 5%;
	float: right;
}
