.researches-block {
  font-family: 'Russo One',sans-serif;

  height: 200px;
  background-color: #37E2D5;
  position: relative;
  border-radius: 1rem;
  margin: 1rem 0;
}

.researches-block__link {
  color: #590696;
  font-size: 3rem;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  line-height: 1;
}

.page {
  max-width: 80ch;
  margin: 0 auto;
}