:root {
  --bg-color: #000000;
  --fg-color: #ffffff;

  --violet: rgb(207, 143, 255);
  --blue: rgb(40, 168, 234);
  --green: rgb(105, 229, 110);

  --cube-size: 6em;
  --half-cube-size: 3em;
  --neg-half-cube-size: -3em;
}

.list-group-item.active {
  background-color: #000000;
  border-color: #000000;
}

body {
  background-color: #ffffff;
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-screen {
  height: 100vh;

  background-image: url(https://img.8wallpapers.com/uploads/2019/04/0d44c8eac1cf447580210d81.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
}


.content {
  color: #ffffff;
  text-align: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
}

@supports (backdrop-filter: blur(2px) saturate(125%)) or (-webkit-backdrop-filter: blur(2px) saturate(125%)) {
  .content {
    -webkit-backdrop-filter: blur(10px) saturate(125%);
    backdrop-filter: blur(10px) saturate(125%);
  }
}

.btn-default {
  color: #ffffff;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #000000;
}

footer {
  background-color: #252525;
}

code {
  color: #000000;
  font-family: 'IBM Plex Mono', sans-serif;
}

#wrapper {
  top: 100vh;
  position: relative;
  background-color: #000000;
  /*#efefef;*/
  color: #ffffff;
}

#wrapper>section {
  padding: 2em 2em;
}

#wrapper>section>h2 {
	width: fit-content;
	border-bottom: 3px solid transparent;
}

#wrapper>section>h2::before {
  content: ':'
}

#wrapper>section>h2:hover {
	border-bottom: 3px solid ;
	cursor: pointer;
}

.example-code {
  display: block;
  color: #ebebeb;
  padding: 1rem;
}

#more-features-btn {
  display: block;
  margin: 1em 2em 1em auto;
  width: fit-content;
  font-size: 1.2em;
  border-bottom: 2px solid white;
}

.lumen-keyword {
  color: var(--violet)
}

.lumen-constant {
  color: rgb(255, 73, 73);
}

.lumen-comment {
  color: var(--green);
}

.lumen-text {
  color: var(--blue);
}

.navbar-dark .navbar-nav .bg-hover-violet:hover {
  background-color: var(--violet);
  color: var(--bg-color);

  transition: .3s;
}

.navbar-dark .navbar-nav .bg-hover-green:hover {
  background-color: var(--green);
  color: var(--bg-color);

  transition: .3s;
}

.navbar-dark .navbar-nav .bg-hover-blue:hover {
  background-color: var(--blue);
  color: var(--bg-color);

  transition: .3s;
}

.fg-violet {
  color: var(--violet);
}

.fg-blue {
  color: var(--blue);
}

.fg-green {
  color: var(--green);
}


#ide-img {
  border-bottom: solid 1px rgb(60, 60, 60);
  display: block;
  position: absolute;
	left: 20px;
}

@media (min-width: 576px) {
  #ide-img {
		left: auto;
    right: -250px;
  }

}