:root {
	--bg-color: #000000;
	--fg-color: #ffffff;

	--violet: rgb(207, 143, 255);
	--blue: rgb(40, 168, 234);
	--green: rgb(105, 229, 110);
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;

	padding-top: 0px;
	padding-bottom: 0px;

	background-color: var(--bg-color);
	color: var(--fg-color);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link .active {
	color: var(--fg-color);
	padding: 1em;
}

.navbar-dark .navbar-brand {
	color: var(--fg-color);
	font-weight: 600;
}

.list-group-item.active {
	background-color: #000000;
	border-color: #000000;
}

body {
	background-color: #ffffff;
	font-family: 'Segoe UI', sans-serif;
}

.main-screen { 
	height: 100vh;

	background-image: url(https://img.8wallpapers.com/uploads/2019/04/0d44c8eac1cf447580210d81.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	align-items: center;
	justify-content: center;
	
	position: fixed;
}


.content {
	color: #ffffff;
	text-align: center;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1em 2em;
}

@supports (backdrop-filter: blur(2px) saturate(125%)) or (-webkit-backdrop-filter: blur(2px) saturate(125%)) {
	.content {
	-webkit-backdrop-filter: blur(10px) saturate(125%);
	backdrop-filter: blur(10px) saturate(125%);
	}
}

.btn-default {
	color: #ffffff;
}

.btn-default:hover {
	color: #ffffff;
	background-color: #000000;
}

footer {
	background-color: #252525;
}

code {
	color: #000000;
}

#wrapper {
	top: 100vh;
	position: relative;
	background-color: #000000; /*#efefef;*/
	color: #ffffff;
}

#wrapper>section {
	padding: 2em 2em;
}

#wrapper>section>h2::before {
	content: ':'
}

.example-code {
	display: block;
	color: #ebebeb;
	padding: 1rem;
}

#more-features-btn {
	display: block;
	margin: 1em 2em 1em auto;
	width: fit-content;
	font-size: 1.2em;
	border-bottom: 2px solid white;
}

.lumen-keyword {
	color: rgb(200, 80, 224)
}

.lumen-constant {
	color: rgb(255, 73, 73);
}

.lumen-comment {
	color: rgb(66, 221, 66);
}

.lumen-text {
	color: rgb(115, 100, 211);
}

.navbar-dark .navbar-nav .bg-hover-violet:hover {
	background-color: var(--violet);
	color: var(--bg-color);

	transition: .3s;
}

.navbar-dark .navbar-nav .bg-hover-green:hover {
	background-color: var(--green);
	color: var(--bg-color);

	transition: .3s;
}

.navbar-dark .navbar-nav .bg-hover-blue:hover {
	background-color: var(--blue);
	color: var(--bg-color);

	transition: .3s;
}

.fg-violet {
	color: var(--violet);
}

.fg-blue {
	color: var(--blue);
}

.fg-green {
	color: var(--green);
}