.bg-color {
	background-color: rgb(60, 58, 61);
	color: #ffffff;
}

.h-menu > li > a {
	padding: 1rem 1.5rem;
}

/*
.xs {
	background-color: rgb(241, 241, 241);
	height: 60em;
	width: 100%;
}*/

code,
kbd {
  display: inline-block;
  font-size: 90%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #7e7e7e;
  line-height: 20px;
	vertical-align: middle;
}

.lexer-keyword {
	color: rgb(145, 69, 175)
}

#main-screen {
	text-align: center;
	height: 85vh;
	width: 100vw;
	vertical-align: middle;
}

#v-centred {
	top: 35vh;
}
/*
.example-description {
	display: table-cell;

}

.example-code {
	display: table-cell;
}*/