.bg-color {
	background-color: rgb(60, 58, 61);
	color: #ffffff;
}

.h-menu > li > a {
	padding: 1rem 1.5rem;
}

#logo {
	color: rgb(205, 125, 236);
	
}

.xs {
	background-color: rgb(241, 241, 241);
	padding: 14em 15em;
}

code,
kbd {
  display: inline-block;
  font-size: 90%;
  color: #ffffff;
  background-color: rgb(60, 58, 61);
  border-radius: 0px;
  line-height: 20px;
	vertical-align: middle;
}

.lexer-keyword {
	color: rgb(205, 125, 236)
}

.my-menu {
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}