:root {
	--background-color: #141414;
	--foreground-color: #969696;

	--accent: #57DB8E;
	--accent-darker: #2DD272;
	--accent-darker-x2: #24A85B;

	--welcome-screen__title-font-size: 96px;
	--welcome-screen__title__subtitle-font-size: 22px;

	--grid-item__title-font-size: 34px;
	--grid-item__content-font-size: 18px;

	--navigation-panel__title-font-size: 34px;
	--navigation-panel__content-font-size: 18px;

	--footer__content-font-size: 18px;


	--padding: 0 100px;
	--grid-item--max-width: 300px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

.welcome-screen {
	height: 100vh;
	
	display: flex;
	align-items: center;

	padding: var(--padding);
}

.welcome-screen__title>h1 {
	margin: 0;
	font-size: var(--welcome-screen__title-font-size);
	line-height: 113px;
	color: var(--accent)
}

.welcome-screen__title__subtitle {
	font-size: var(--welcome-screen__title__subtitle-font-size);
	font-weight: normal;
}

.grid {
	display: flex;
	flex-direction: column;
	padding: var(--padding);
}

.grid__row {
	display: flex;
	justify-content: space-between;

	margin-bottom: 130px;
}

.grid-item {
	flex: 0 1 var(--grid-item--max-width);
}

.grid-item__title {
	font-size: var(--grid-item__title-font-size);
	color: var(--accent);
}

.grid-item__content {
	font-size: var(--grid-item__content-font-size);
	line-height: 24px;
}

a,
a:visited {
	color: var(--foreground-color);
}

a:hover,
a:focus {
	color: var(--accent);
}

.navigation-panels {
	display: flex;
}

a.navigation-panel:nth-child(1) {
	background-color: var(--accent-darker-x2);
}

a.navigation-panel:nth-child(2) {
	background-color: var(--accent-darker);
}

a.navigation-panel:nth-child(3) {
	background-color: var(--accent);
}

a.navigation-panel,
a:visited.navigation-panel,
a:focus.navigation-panel,
a:hover.navigation-panel {
	flex: 1 1 200px;
	min-height: 130px;
	padding: 25px 35px;
	color: var(--background-color);
	text-decoration: none;
}

a.navigation-panel:hover {
	background-color: rgb(240, 240, 240);
	transition: background-color .3s ease-in-out;
}

.navigation-panel__title {
	font-size: var(--navigation-panel__title-font-size);
	margin: 0;
}

.navigation-panel__content {
	margin-top: 15px;
	font-size: var(--navigation-panel__content-font-size);
}

.footer {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__content {
	display: flex;
	align-items: center;
}

.footer__content>img {
	margin: 0 5px;
}

@media screen and (max-width: 1000px) {
	:root {
		--padding: 0 70px;
		--grid-item__title-font-size: 30px;
		--grid-item__content-font-size: 16px;

		--navigation-panel__title-font-size: 30px;
		--navigation-panel__content-font-size: 16px;
		--grid-item--max-width: 250px;
	}
}

@media screen and (max-width: 850px) {
	:root {
		--padding: 0 50px;
		--grid-item__title-font-size: 24px;
		--grid-item__content-font-size: 16px;

		--navigation-panel__title-font-size: 24px;
		--navigation-panel__content-font-size: 16px;

		--grid-item--max-width: 200px;
	}
}

@media screen and (max-width: 850px) {
	:root {
		--padding: 0 50px;
		--grid-item__title-font-size: 24px;
		--grid-item__content-font-size: 16px;

		--navigation-panel__title-font-size: 24px;
		--navigation-panel__content-font-size: 16px;

		--grid-item--max-width: 200px;
	}

	.grid {
		flex-direction: row;
		padding: 0 25px;
	}

	.grid__row {
		flex: 1 0 200px;
		flex-direction: column;
		margin-right: 25px;
		margin-left: 25px;
	}

	.navigation-panels {
		flex-direction: column;
	}

	a.navigation-panel {
		max-height: 100px;
	}
}

@media screen and (max-width: 500px) {
	.grid {
		flex-direction: column;
	}

	.grid__row {
		flex: 1 0 200px;
		flex-direction: column;
		margin: 0;
	}
}