:root {
	--background-color: #141414;
    --foreground-color: #969696;
    
    --nav--background-color: #222222;

	--accent: #57DB8E;
	--accent-darker: #2DD272;
	--accent-darker-x2: #24A85B;

	--welcome-screen__title-font-size: 96px;
	--welcome-screen__title__subtitle-font-size: 22px;

	--grid-item__title-font-size: 34px;
	--grid-item__content-font-size: 18px;

	--navigation-panel__title-font-size: 34px;
	--navigation-panel__content-font-size: 18px;

	--footer__content-font-size: 18px;


	--padding: 0 100px;
	--grid-item--max-width: 300px;
}

* {
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #111111;
    color: var(--foreground-color);
    font-size: 16px;
    line-height: 22px;
}

.container {
   
}

.nav {
    background-color: #000000;

    position: fixed;
    width: 25vw;
    height: 100vh;

    font-size: 16px;
}

.nav__header {
    padding: 20px 15px;
    background-color: #000000;
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

.nav__title {
    padding: 10px 15px;
}

.nav__items {
    padding: 10px 0px;
}

.nav-item {
    display: block;
    padding: 10px 15px;
    color: var(--foreground-color);
    text-decoration: none;
}

.nav-item:hover {
    background-color: #2f2f2f;
}

.nav-item--selected {
    color: rgb(230, 230, 230);
}

.nav__header__logo {
    height: 24px;
    margin-right: 10px;
}

main {
    left: 25vw;
    width: 75vw;
    position: absolute;
    overflow-x: hidden;
    height: 100vh;
}

.content {
    overflow-y: visible;
    padding: 20px;
}

code {
    border-radius: 3px;
}