:root {
	--background-color: #141414;
    --foreground-color: #969696;
    
    --nav--background-color: #222222;

	--accent: #57DB8E;
	--accent-darker: #2DD272;
	--accent-darker-x2: #24A85B;

	--welcome-screen__title-font-size: 96px;
	--welcome-screen__title__subtitle-font-size: 22px;

	--grid-item__title-font-size: 34px;
	--grid-item__content-font-size: 18px;

	--navigation-panel__title-font-size: 34px;
	--navigation-panel__content-font-size: 18px;

	--footer__content-font-size: 18px;


	--padding: 0 100px;
	--grid-item--max-width: 300px;
}

* {
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(250, 250, 250);
    color: #000000;
    font-size: 16px;
    line-height: 22px;
}

.container {
   
}

.nav {
    background-color: #000000;

    position: fixed;
    width: 25vw;
    height: 100vh;

    font-size: 16px;
}

.nav__header {
    padding: 20px 15px;
    background-color: #000000;
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

.nav__title {
    padding: 10px 15px;
}

.nav__items {
    padding: 10px 0px;
}

.nav-item {
    display: block;
    padding: 10px 15px;
    color: var(--foreground-color);
    text-decoration: none;
}

.nav-item:hover {
    background-color: #2f2f2f;
}

.nav-item--selected {
    color: rgb(230, 230, 230);
}

.nav__header__logo {
    height: 24px;
    margin-right: 10px;
}

main {
    left: 25vw;
    width: 75vw;
    position: absolute;
    overflow-x: hidden;
    height: 100vh;
}

.content {
    overflow-y: visible;
    padding: 20px;
}

code {
    border-radius: 3px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-link {
    display: flex;
    color: #000;
    text-decoration: none;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;

    /*border: 1px solid #222222;*/
    box-shadow: 0px 2px 4px #c9c9c9;
    border-radius: 3px;
    padding: 10px 20px;
    min-width: 200px;

    transition: color .3s;
}

.nav-link:hover {
    color: var(--accent-darker-x2)
}

.nav-link:hover .nav-link__arrow {
    transform: translateX(5px);
}

.nav-link__prev:hover .nav-link__arrow {
    transform: translateX(-5px) rotate(180deg);
}

.nav-link__arrow {
    height: 30px;
    transition: transform .3s;
}

.nav-link-info__name {
    color: rgb(134, 134, 134);
    font-size: smaller;
}

.nav-link__prev .nav-link-info {
    text-align: right;
}

.nav-link__prev .nav-link__arrow {
    transform: rotate(180deg);
}